/* https://coolors.co/07040e-342552-614596-866faf-f2ecfa */

:root {
    --black: #07040E;
    --dark_violet: #342552;
    --violet: #614596;
    --light_violet: #866FAF;
    --white: #F2ECFA;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    background-color: var(--dark_violet);
}

@media screen and (max-width: 640px) {
    header {
        justify-content: center;
        flex-direction: column;
    }
}

header h1 {
    margin: 0;
    color: var(--white);
}

header nav {
    display: flex;
    align-items: center;
    gap: 16px;

    margin: 0;
    padding: 0;
}

@media screen and (max-width: 640px) {

    header h1 {
        text-align: center;
    }

    header nav {
        margin-top: 10px;
    }
}

header nav a {
    color: var(--white);
}

main {
    padding: 20px;

    max-width: 1600px;
    margin: auto;
}

footer {
    background-color: var(--light_violet);
    padding: 10px
}